<%= render 'shared/errors', obj: @store %>

    <%= form_for(@store) do |f| %>
        <div class="form-group">
            <%= label_tag :name, nil, class: "font-20" %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= label_tag :nabp, "NABP", class: "font-20" %>
            <%= f.text_field :nabp, class: "form-control" %>
        </div>
        <div class="form-group">
            <label>Current User</label>
            <p>
                <% if @store.user %>
                    <%=  @store.user.username %>
                <% else %>
                    <%= "User has been deleted!" %>
                <% end %>
            </p>
        </div>
        <div class="form-group">
            <%= label_tag :user_id, "Please select user", class: "font-20" %>
            <%= f.select :user_id, options_for_select(@users.collect {|c| [c.username, c.id]}, f.object.user_id) ,{},  {:class => "form-control"} %>
        </div>
        <%= f.submit(@store.new_record? ? 'Create' : 'Save', class: "btn btn-success pull-right") %>
    <% end %>
    <%= link_to "Back to Directory", admin_path, class: "btn btn-warning" %>
    <% if !@store.new_record?  %>
        <%= link_to "Delete Store", store_path(@store), method: :delete, data:{ confirm: 'Are you sure?'}, class: "btn btn-danger btn-del" %>
    <% end %>
    </div>
</div>