
<div class="container content">
  <div class="title">
    <%= image_tag("store-icon-200.png", size: "50x50") %>
    <h2><%= @store.name %></h2>
    <p><%= link_to 'Create Report', new_report_path(id: @store.id), class: 'btn btn-mini btn-success' %></p>
  </div>
  <section class="reports-table">
    <table class="table">
      <tbody>
        <% @reports.sort.reverse.each do |report| %>
          <% report.each_with_index do |one, index|%>
            <% if index == 0 %>
              <tr data-toggle="collapse" data-target="#<%= one %>">
                <td class="header">
                  <label class="btn btn-block">
                    <span class="glyphicon glyphicon-menu-right rotate" aria-hidden="true"></span>
                    &nbsp;&nbsp;<%=(one.day == 31 && one.month == 12) ? "Annual" : Date::MONTHNAMES[one.month] %> <%= one.year%>
                  </label>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <div id="<%= one %>" class="collapse reports-group-container">
            <% else %>
              <ul>
                <% one.sort{|a,b| b.created_at <=> a.created_at}.each do |report| %>
                  <li>
                    <%= link_to report.display_name, "http://quickrx.net/webreports/#{@store.nabp}/#{report.filename}", class: "pdf-link" %>
                    <% if current_user.admin? %>
                      <%= link_to 'Delete', report_path(report), method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete-report btn btn-mini btn-danger' %>
                      <%= link_to 'Edit', edit_report_path(report), class: 'delete-report btn btn-mini btn-warning' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          </div>
          </td>
          </tr>
        <% end %>
      </tbody>
  </section>
</div>