<div class="container top-spacing">
    <div class="well shadow form-container">
        <div class="jumbotron">
            <h2 class="text-center">New Report</h2>
        </div>
        <%= form_for(@report) do |f| %>
            <div class="form-group">
                <%= label_tag :filename, nil, class: "font-20" %>
                <%= f.text_field :filename, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= label_tag :display_name, "Display Name", class: "font-20" %>
                <%= f.text_field :display_name, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= label_tag :report_date, "Report Date (affects grouping)", class: "font-20" %>
                <br>
                <%= f.date_field :report_date, class: "form-control date-select" %>
            </div>
            
            <div class="form-group">
                <%= label_tag :created_at, "Created Date (affects sorting)", class: "font-20" %>
                <br>
                <%= f.date_field :created_at, class: "form-control date-select" %>
            </div>
            <div class="form-group">
            <%= label_tag :store_id, "Please select store.", class: "font-20" %>
            <%= f.text_field :store_id, :readonly => true, :value => @store.id, class: "form-control"  %>
            </div>
            <%= f.submit(@report.new_record? ? 'Create' : 'Save', class: "btn btn-success pull-right") %>
        <% end %>
    </div>
</div>