<!DOCTYPE html>
<html>
<head>
  <title>QS Report Portal</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= render "layouts/navigation" %> 
<% end %>

<div class="container">
  <% flash.each do |key, value| %>
    <div id="flash" class="shadow alert alert-dismissable alert-<%= key %>"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<%= yield %>

<br>
<br>
<br>

<script>
$(function() {
 $('#flash').delay(500).fadeIn('normal', function() {
     $(this).delay(2000).fadeOut();
 });
});
</script>

</body>
</html>
